# Directories
images/
archive/
tools/
output_videos/

# Model weights and checkpoints
*.pth
*.ckpt
*.safetensors

# Python cache and virtual environments
__pycache__/
*.pyc
.env
env/
vrtlvenv

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Common ML/data files
*.csv
*.json
data/
datasets/

# IDE files
.vscode/
.idea/
saved_models/

*.png

# test python files
test.py